.featured-section {
  padding: 80px 10%;
  background-color: #cffc90;
}
.institute-card {
  display: flex;
  border-left: 8px solid yellow;
  border-radius: 14px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  background-color: rgba(246, 251, 0, 0.95);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: transform 0.3s ease;
}

.institute-card:hover {
  transform: translateY(-6px);
}

.institute-card img {
  width: 320px;
  object-fit: cover;
  height: auto;
}

.card-content {
  padding: 30px;
  flex: 1;
}

.card-content h3 {
  color: var(--wine-red);
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
}

.card-content p {
  font-size: 17px;
  line-height: 1.6;
}

.card-content ul {
  list-style-type: decimal;
  padding-left: 20px;
  line-height: 1.8;
}

.card-content li {
  margin-bottom: 12px;
  color: #34495e;
}

.card-content a {
  font-size: 1rem;
  left: 20px;
}
